<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    
    <title>Deenish Buoy</title>
    
    <style type="text/css">
      #platformRating form,
      #platformRating select,
      #platformRating p {
        display: inline;
        vertical-align: centre;
        line-height: 28px;
      }  
      
      h1 {text-align: center;}
      
    </style>    
    
</head>

<body>
        
    <h1> Deenish Island Data Portal </h1>    
    
    <p><a href="{{ url_for('swirl') }}">Link to Southwest of Ireland Remote-Sensing Historical Data</a></p>
        
    <img src="{{url_for('static', filename='boya.jpg')}}" />
    
    <p style="font-family: Arial">Welcome to the EuroSea WP6 Deenish Island Data Portal.
    The Deenish Island salmon farm is located at 51°44'19''N 10°12'45''W in
    the Southwest coast of Ireland. In April 2022, a monitoring station was 
    deployed at the farm to record the environmental conditions.
    Here, you can download and display the sampled data. Available parameters are
    seawater temperature, salinity, current velocity, pH, dissolved oxygen 
    saturation and chlorophyll-a concentration. Just enter the starting and end 
    times (UTC) of interest and click the 'Display' button. Click 'Download' to
    get a file with the data. 
    This is a EuroSea partnership between the Marine Institute, the Spanish National Research Council (CSIC), Mowi Ireland (formerly Marine Harvest) and Xylem / Aanderaa Data Instrument.

    This part of the Marine Observatory work is being developed within the WP6 Ocean Health Demonstrator of  the EuroSea project “Improving and integrating the European Ocean Observing and Forecasting System”. This project is funded by the EU Horizon 2020 research and innovation programme under grant agreement No 862626 </p>
        
    <div style="float: left;">
    
      <div id="platformRating">
      
        <form method="POST" action="/">
               
            <! -- DATE SELECTION DROP-DOWN LISTS -->
               
            <b>Date selection</b> <br>
            <p style="margin-right: 5px"> Start: </p>     
            <select name="times0" method="GET"> 
                {% for time in times %} 
                <option value= "{{time}}" SELECTED>{{time}}</option>" 
                {% endfor %} 
                <option selected="selected">
                    {{time0}}
                </option>
            </select>
        
            <p style="margin-right: 5px; margin-left: 20px"> End: </p>   
            <select name="times1" method="GET"> 
                {% for time in times %} 
                <option value= "{{time}}" SELECTED>{{time}}</option>" 
                {% endfor %} 
                <option selected="selected">
                    {{time1}}
                </option>
            </select>
            
           
           
            <! -- DATE SELECTION FOR SURFACE CURRENTS DROP-DOWN LIST -->
            
            <p style="margin-left: 5px"> Select date for surface currents (one day only): </p>     
            <select name="times" method="GET"> 
                {% for time in times %} 
                <option value= "{{time}}" SELECTED>{{time}}</option>" 
                {% endfor %} 
                <option selected="selected">
                    {{time}}
                </option>
            </select>
            
            <br> <br> 
            
            
            
            <! -- CHECKBOXES FOR SELECTION OF IN-SITU DATA + REMOTE-SENSING CHLOROPHYLL -->
            
            <b>In-situ data + Remote-Sensing Chlorophyll</b> <br>
            
            <input type="checkbox" name="selection" value="Temperature"> Temperature
                        
            <input type="checkbox" name="selection" value="Salinity"               style="margin-left: 100px" > Salinity
                        
            <input type="checkbox" name="selection" value="pH"                     style="margin-left: 100px" > pH
                        
            <input type="checkbox" name="selection" value="Oxygen Saturation"      style="margin-left: 100px"> Oxygen Saturation
                        
            <input type="checkbox" name="selection" value="RFU"                    style="margin-left: 100px" > Raw Fluorescence Units
                        
            <input type="checkbox" name="selection" value="Chlorophyll-a"          style="margin-left: 100px" > Remote-Sensing Chlorophyll
                    
            <br> <br>
            
            
            
            <! -- DROP-DOWN LISTS FOR YY-PLOTS -->
            
            <b>Select two variables to display in one plot</b> <br>            
            
            <select name="A1" method="GET"> 
                {% for variable in variables %} 
                <option value= "{{variable}}" SELECTED>{{variable}}</option>" 
                {% endfor %} 
               
            </select>
            
            <p style="margin-left: 5px"> vs. </p> 
                        
            <select name="A2" method="GET"> 
                {% for variable in variables %} 
                <option value= "{{variable}}" SELECTED>{{variable}}</option>" 
                {% endfor %} 
               
            </select>
                   
                
            <select style="margin-left: 100px" name="B1" method="GET"> 
                {% for variable in variables %} 
                <option value= "{{variable}}" SELECTED>{{variable}}</option>" 
                {% endfor %} 
               
            </select>
            
            <p style="margin-left: 5px"> vs. </p> 
            
            <select name="B2" method="GET"> 
                {% for variable in variables %} 
                <option value= "{{variable}}" SELECTED>{{variable}}</option>" 
                {% endfor %} 
               
            </select>
                                
                
            <select style="margin-left: 100px" name="C1" method="GET"> 
                {% for variable in variables %} 
                <option value= "{{variable}}" SELECTED>{{variable}}</option>" 
                {% endfor %} 
               
            </select>
            
            <p style="margin-left: 5px"> vs. </p> 
                        
            <select name="C2" method="GET"> 
                {% for variable in variables %} 
                <option value= "{{variable}}" SELECTED>{{variable}}</option>" 
                {% endfor %} 
               
            </select>
            
           <br> <br>
        
        
        
            <! -- DEPTH OF TEMPERATURE LAYERS FROM NORTHWEST SHELF MODEL -->
            
            <b>Select depth [m] for temperature</b> <br>
            
            {% for z in layers %} 
            <input type="checkbox" name="layers" value="{{z}}"> {{z}}
            {% endfor %} 
            
            
                        
                        
            <! -- DISPLAY AND DOWNLOAD BUTTONS -->        
                        
            <input type="submit" value="Display"  name="Display"  style="margin-left: 10px" />
            
            <input type="submit" value="Download" name="Download" style="margin-left: 10px" />
            
            <br>
            
            <! -- FIGURES TO BE DISPLAYED AT THE BOTTOM OF THE PAGE -->        
                        
            {% for image in graph %} 
            <img src="{{url_for('static', filename=image)}}" /> <br>
            {% endfor %} 
            
            
        </form>
       
      </div>
        
    </div>
        
    
</body>

</html>