<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    
    <title>Southwest of Ireland Data Portal</title>
    
    <style type="text/css">
      #platformRating form,
      #platformRating select,
      #platformRating p {
        display: inline;
        vertical-align: centre;
        line-height: 28px;
      }  
      
      h1 {text-align: center;}
      
    </style>    
    
</head>

<body>
        
    <h1> Southwest of Ireland Data Portal </h1>   
    
    <p><a href="{{ url_for('index') }}">Link to Deenish Island Buoy Historical Data</a></p> 
        
    <img src="{{url_for('static', filename='boya.png')}}" />
    
    <p style="font-family: Arial">Welcome to the EuroSea WP6 Southwest of Ireland Data Portal.
    
    Here, you can display historical, remote-sensing SST and chlorophyll concentration data.
    Just enter the date of interest and click the 'Display' button. The remote-sensing SST
    presented here has been derived from the Multi-Scale Ultra High Resolution (MUR) 
    Sea Surface Temperature (SST) product, with 1 km of horizontal resolution. SST anomalies
    are determined based on a 20-year reference baseline for the duration of the MUR product,
    from 2002 to 2022. 
    
    Chlorophyll-a concentration is derived from the Copernicus product OCEANCOLOUR_ATL_BGC_L4_MY_009_118.
    In this product, chlorophyll-a concentration is based on based on SeaWIFS, MERIS, MODIS-A, 
    MODIS-T, VIIRS-SNPP & JPPS1 and OLCI-S3A & S3B.
    
    This is a EuroSea partnership between the Marine Institute, the Spanish National Research Council (CSIC), Mowi Ireland (formerly Marine Harvest) and Xylem / Aanderaa Data Instrument.

    This part of the Marine Observatory work is being developed within the WP6 Ocean Health Demonstrator of  the EuroSea project “Improving and integrating the European Ocean Observing and Forecasting System”. This project is funded by the EU Horizon 2020 research and innovation programme under grant agreement No 862626 </p>
         </p>
    
    <div style="float: left;">
    
      <div id="platformRating">
      
        <form method="POST" action="{{ url_for('swirl') }}">
               
            <p style="margin-right: 5px"> Select date: </p>     
            <select name="times" method="GET"> 
                {% for time in times %} 
                <option value= "{{time}}" SELECTED>{{time}}</option>" 
                {% endfor %} 
                <option selected="selected">
                    {{time}}
                </option>
            </select>
                    
        
            <input type="submit" value="Display"  name="Display"  style="margin-left: 20px" />
            
            <p style="margin-right: 5px"> Please wait about 1 minute after the request is submitted. </p>    
                                   
            <img src="{{url_for('static', filename=graph)}}" />
            
            
        </form>
       
      </div>
        
    </div>
    
        
    
</body>

</html>